@mixin perimeter($h, $w) {
  height: $h;
  width: $w;
}

@mixin basicFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 0.7rem;
  }
  
  &::-webkit-scrollbar-track {
    background: $bg-color; 
  }
  
  &::-webkit-scrollbar-thumb {
    background: $bg-color-lite; 
    border-radius: 0.5rem;

    &:hover {
      background: #555; 
    }
  }
}

@mixin modal($top) {
  position: fixed;
  top: $top;
  left: 50%;
  transform: translateX(-50%);
}

@mixin label {
  font-size: 1.8rem;
  padding-left: 1rem;
  color: $color;
}

@mixin input {
  width: 32rem;
  font-size: 1.6rem;
  padding: 0.5rem 0 0.5rem 0;
  padding-left: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  border: 0.2rem solid $in-color;
  background-color: transparent;
  border-radius: 0.6rem;
  color: white;
}

@mixin button($width) {
  @include perimeter(3rem, $width);
  font-family: $main-font;
  font-size: 1.4rem;
  color: $color;
  background-color: $out-color;
  border: 0.2rem solid $out-color;
  border-radius: 0.6rem;
  cursor: pointer;
}

@mixin trigger {
  cursor: pointer;
  background-color: $bg-color-lite;
  border: none;
  border-radius: 4rem;
  transition: 0.3s all;
  color: $color;
  font-size: 1.8rem;

  &:hover {
    background-color: $out-color;
  }
}

@mixin message-categories {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: .5rem;
}

@mixin trigger-and-list($w) {
  &-trigger {
    @include perimeter(3rem, $w);
    @include trigger;
    margin-bottom: 1rem;
  }
  
  &-list {
    display: none;
    
    &.show {
      @include basicFlex;
      flex-direction: column;
      width: 98%;
    }

    div {
      @include perimeter(7rem, 99%);
      @include basicFlex;
      color: hsl(0, 0%, 80%);

      &.highlight {
        border: none;
        border-radius: 1rem;
        background-color: $in-color;
        transition: 0.3s all;

        &:hover {
          background-color: $in-color;
        }
      }

      &:hover {
        border: none;
        border-radius: 1rem;
        background-color: $bg-color-lite;
        transition: 0.3s all;
      }
    }
  }
}

@mixin infocard($fs, $sm, $c) {
  font-size: $fs;
  text-align: center;
  margin: 2.5vh $sm 2.5vh $sm;
  color: $c;
}

@mixin side-navbar-icons($wh, $m) {
  @include perimeter(4.5rem, 4.5rem);
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  margin-right: $m;

  &:hover {
    background-color: hsl(0, 0%, 40%);
  }

  &.highlight {
    background-color: $in-color;
  }

  img {
    @include perimeter($wh, $wh);
  }
}

@mixin loading-logo($l, $p) {
  .my-logo {
    @include perimeter($p, $p);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 2.5rem;
  }

  #my-logo {
    @include perimeter($l, $l);
  }

  .my-logo::before,
  .my-logo::after {
    content: '';
    @include perimeter($p, $p);
    position: absolute;
    background-color: $in-color;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.7;
  }

  .my-logo::before {
    animation: pulse 2s ease-out infinite;
  }

  .my-logo::after {
    animation: pulse 2s 1s ease-out infinite;
  }

  @keyframes pulse {
    100%{
        transform: scale(1.5);
        opacity: 0;
    }
  }
}