@mixin perimeter($h, $w) {
  height: $h;
  width: $w;
}

@mixin basicFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 0.7rem;
  }
  
  &::-webkit-scrollbar-track {
    background: $bg-color; 
  }
  
  &::-webkit-scrollbar-thumb {
    background: $bg-color-lite; 
    border-radius: 0.5rem;

    &:hover {
      background: #555; 
    }
  }
}

@mixin modal($top) {
  position: fixed;
  top: $top;
  left: 50%;
  transform: translateX(-50%);
}

@mixin label {
  font-size: 1.8rem;
  padding-left: 1rem;
  color: $color;
}

@mixin input {
  width: 32rem;
  font-size: 1.6rem;
  padding: 0.5rem 0 0.5rem 0;
  padding-left: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  border: 0.2rem solid $in-color;
  background-color: transparent;
  border-radius: 0.6rem;
  color: white;
}

@mixin button($width) {
  font-family: $main-font;
  font-size: 1rem;
  width: $width;
  height: 3rem;
  color: $color;
  background-color: $out-color;
  border: 0.2rem solid $out-color;
  border-radius: 0.6rem;
  cursor: pointer;
}

@mixin trigger {
  cursor: pointer;
  background-color: $bg-color-lite;
  border: none;
  border-radius: 4rem;
  transition: 0.3s all;
  color: $color;
  font-size: 1.8rem;

  &:hover {
    background-color: $out-color;
  }
}

@mixin message-categories {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: .5rem;
}

@mixin trigger-and-list($w, $mh) {
  &-trigger {
    @include perimeter(3rem, $w);
    @include trigger;
    margin-bottom: 1rem;
  }

  &-list {
    @include scrollbar;
    display: none;
    max-height: $mh;
    width: 100%;
    overflow-y: scroll;

    &.show {
      @include basicFlex;
      flex-direction: column;
    }

    div {
      @include perimeter(2rem, 100%);
    }
  }
}
