$main-font: 'Archivo';
$bg-color: hsl(225, 6%, 13%);
$bg-color-lite: hsl(225, 6%, 25%);
$screen-bg-color: hsl(225, 6%, 17.5%);
$out-color: hsl(175, 19%, 25%);
$in-color: hsl(177, 67%, 25%);
$color: hsl(177, 100%, 39%);
$border-outline: 1px solid hsl(0, 0%, 20%);