.error-alert {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: rgba(26, 26, 26, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease-out 0s, visibility 0s ease 0.25s;
  z-index: 10;
}
.error-alert.show {
  transition: opacity 0.25s ease-out;
  opacity: 1;
  visibility: visible;
}
.error-alert div {
  height: 10rem;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  border-radius: 1rem;
  font-size: 1.8rem;
  background-color: #4d4d4d;
}
.error-alert div p {
  margin: 0.5rem 2rem 1rem 2rem;
  color: #cccccc;
}
.error-alert div button {
  height: 3rem;
  width: 7rem;
  cursor: pointer;
  background-color: #3c3e44;
  border: none;
  border-radius: 4rem;
  transition: 0.3s all;
  color: #00c7bd;
  font-size: 1.8rem;
}
.error-alert div button:hover {
  background-color: #344c4a;
}
