body {
  background-color: #1f2023;
}

.login-modal {
  position: fixed;
  top: 17.5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-modal.hide {
  display: none;
}
.login-modal .loqui {
  font-size: 4rem;
  color: #00c7bd;
  margin-bottom: 2.5rem;
}
.login-modal .email-label {
  font-size: 1.8rem;
  padding-left: 1rem;
  color: #00c7bd;
}
.login-modal .email-input {
  width: 32rem;
  font-size: 1.6rem;
  padding: 0.5rem 0 0.5rem 0;
  padding-left: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  border: 0.2rem solid #156a66;
  background-color: transparent;
  border-radius: 0.6rem;
  color: white;
}
.login-modal .password-label {
  font-size: 1.8rem;
  padding-left: 1rem;
  color: #00c7bd;
}
.login-modal .password-input {
  width: 32rem;
  font-size: 1.6rem;
  padding: 0.5rem 0 0.5rem 0;
  padding-left: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  border: 0.2rem solid #156a66;
  background-color: transparent;
  border-radius: 0.6rem;
  color: white;
}
.login-modal .button-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-modal .button-wrapper .login-button {
  height: 3rem;
  width: 8rem;
  font-family: "Archivo";
  font-size: 1.4rem;
  color: #00c7bd;
  background-color: #344c4a;
  border: 0.2rem solid #344c4a;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 1rem;
}
.login-modal .button-wrapper .login-button:hover {
  transform: scale(1.1);
}
.login-modal .button-wrapper .create-account-button {
  height: 3rem;
  width: 19.2rem;
  font-family: "Archivo";
  font-size: 1.4rem;
  color: #00c7bd;
  background-color: #344c4a;
  border: 0.2rem solid #344c4a;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 0.4s;
}
.login-modal .button-wrapper .create-account-button:hover {
  transform: scale(1.1);
}
.login-modal .my-logo {
  height: 12rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 2.5rem;
}
.login-modal #my-logo {
  height: 8rem;
  width: 8rem;
}
.login-modal .my-logo::before,
.login-modal .my-logo::after {
  content: "";
  height: 12rem;
  width: 12rem;
  position: absolute;
  background-color: #156a66;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.7;
}
.login-modal .my-logo::before {
  animation: pulse 2s ease-out infinite;
}
.login-modal .my-logo::after {
  animation: pulse 2s 1s ease-out infinite;
}
@keyframes pulse {
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
