.main-display {
  height: 100vh;
  width: 69.9vw;
  display: flex;
  flex-direction: column;
  background-color: #2a2b2f;
  position: relative;
  border-left: 1px solid #333333;
}
.main-display #hand-logo {
  height: 25rem;
  width: 25rem;
  margin: 10vh auto 0 auto;
  border-radius: 50%;
}
.main-display .info-wrapper {
  margin: 2.5vh auto 10vh auto;
}
.main-display .info-wrapper::after {
  content: "";
  height: 0.2rem;
  width: 50%;
  position: absolute;
  margin-top: 2.5vh;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid #3c3e44;
}
.main-display .info-wrapper div:nth-child(1) {
  font-size: 3rem;
  text-align: center;
  padding: 0 3rem;
  margin: 2.5vh auto 2.5vh auto;
  color: #cccccc;
}
.main-display .info-wrapper div:nth-child(2) {
  font-size: 1.6rem;
  text-align: center;
  padding: 0 3rem;
  margin: 2.5vh 12.5% 2.5vh 12.5%;
  color: gray;
  line-height: 2rem;
}
.main-display p {
  font-size: 1.4rem;
  text-align: center;
  padding: 0 3rem;
  margin: 2.5vh auto 2.5vh auto;
  color: gray;
  margin-top: -1rem;
}
.main-display p a {
  cursor: pointer;
  color: #00c7bd;
  text-decoration: none;
}
.main-display .vignette {
  height: 0.5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #156a66;
}
.main-display .convo-screen {
  height: 100%;
  background-color: #2a2b2f;
}
.main-display .convo-screen .mainbar-navbar {
  height: 9.5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background-color: #3c3e44;
}
.main-display .convo-screen .mainbar-navbar div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 1.6rem;
  margin: 0 2.5rem 0 0;
  color: #cccccc;
}
.main-display .convo-screen .mainbar-navbar div .chat-image {
  height: 4rem;
  width: 4rem;
  border: 1px solid #cccccc;
  border-radius: 100%;
  margin: 0 1.5rem;
}
.main-display .convo-screen .mainbar-navbar div button {
  height: 4.5rem;
  width: 4.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  margin-right: 0;
}
.main-display .convo-screen .mainbar-navbar div button:hover {
  background-color: #666666;
}
.main-display .convo-screen .mainbar-navbar div button.highlight {
  background-color: #156a66;
}
.main-display .convo-screen .mainbar-navbar div button img {
  height: 2.5rem;
  width: 2.5rem;
}
.main-display .convo-screen .mainbar-navbar div ul {
  height: auto;
  width: 22rem;
  opacity: 0;
  visibility: hidden;
  top: 4.6rem;
  right: 0.3rem;
  text-align: center;
  position: absolute;
  border: none;
  border-radius: 1rem;
  font-size: 1.8rem;
  color: #cccccc;
  background-color: #4d4d4d;
  transition: opacity 0.25s ease-out 0s, visibility 0s ease 0.25s;
}
@media screen and (max-width: 681px) {
  .main-display .convo-screen .mainbar-navbar div ul {
    right: 0;
  }
}
.main-display .convo-screen .mainbar-navbar div ul.show {
  transition: opacity 0.25s ease-out;
  opacity: 1;
  visibility: visible;
}
.main-display .convo-screen .mainbar-navbar div ul li {
  margin: 1rem 0;
  cursor: pointer;
}
.main-display .convo-screen .conversation-display-wrapper {
  height: 80.5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.main-display .convo-screen .conversation-display-wrapper::-webkit-scrollbar {
  width: 0.7rem;
}
.main-display .convo-screen .conversation-display-wrapper::-webkit-scrollbar-track {
  background: #1f2023;
}
.main-display .convo-screen .conversation-display-wrapper::-webkit-scrollbar-thumb {
  background: #3c3e44;
  border-radius: 0.5rem;
}
.main-display .convo-screen .conversation-display-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.main-display .convo-screen .conversation-display-wrapper .conversation-display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-display .convo-screen .conversation-display-wrapper .conversation-display:first-child {
  margin-top: auto !important;
}
.main-display .convo-screen .conversation-display-wrapper .conversation-display .message-bubble {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 1.5rem;
  max-width: 49rem;
  background-color: #54575f;
  align-self: flex-start;
  margin: 0.25rem 2.5rem;
  font-size: 1.5rem;
  line-height: 1.25;
  padding: 0.5rem 6rem 0.5rem 1rem;
  border-radius: 1rem;
  color: #e6e6e6;
}
.main-display .convo-screen .conversation-display-wrapper .conversation-display .message-bubble .message-date {
  position: absolute;
  bottom: -1.5rem;
  right: 0.5rem;
  font-size: 1rem;
  color: #cccccc;
  padding: 0;
}
@media screen and (max-width: 681px) {
  .main-display .convo-screen .conversation-display-wrapper .conversation-display .message-bubble .message-date {
    padding: 0;
  }
}
.main-display .convo-screen .conversation-display-wrapper .conversation-display .message-bubble.me {
  align-self: flex-end;
  background-color: #156a66;
}
.main-display .convo-screen .message-form-wrapper {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background-color: #3c3e44;
  position: relative;
}
.main-display .convo-screen .message-form-wrapper .emojis {
  position: absolute;
  top: -32.5rem;
  left: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease-out 0s, visibility 0s ease 0.25s;
}
.main-display .convo-screen .message-form-wrapper .emojis.show {
  transition: opacity 0.25s ease-out;
  opacity: 1;
  visibility: visible;
}
.main-display .convo-screen .message-form-wrapper .emoji-trigger {
  cursor: pointer;
  margin-left: 1rem;
  background-color: transparent;
  border: none;
  padding: 0;
}
.main-display .convo-screen .message-form-wrapper .emoji-trigger img {
  height: 3rem;
  width: 3rem;
}
.main-display .convo-screen .message-form-wrapper .form {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.main-display .convo-screen .message-form-wrapper .form .message-submit {
  height: 3rem;
  width: 3rem;
  margin-right: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.main-display .convo-screen .message-form-wrapper .form .message-submit img {
  height: 3rem;
  width: 4rem;
}
.main-display .convo-screen .message-form-wrapper .form input {
  height: 3.75rem;
  width: 90%;
  padding-left: 2rem;
  border: none;
  border-radius: 1rem;
  background-color: #54575f;
  color: #cccccc;
  font-size: 1.5rem;
  margin-left: 1rem;
}
.main-display .convo-screen .message-form-wrapper .form input::placeholder {
  padding-left: 0.5rem;
  color: #cccccc;
}
.main-display .convo-screen .message-form-wrapper .form input:focus::placeholder {
  transition: opacity 0.3s;
  opacity: 0;
}
.main-display .convo-screen .message-form-wrapper .form input:focus-visible {
  outline: none;
  outline-offset: none;
}
