.sidebar-wrapper {
  height: 100vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #333333;
}
.sidebar-wrapper .sidebar-navbar {
  height: 9.5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3c3e44;
  color: #156a66;
  z-index: 2;
}
.sidebar-wrapper .sidebar-navbar .user-profile {
  margin-left: 1rem;
}
.sidebar-wrapper .sidebar-navbar-options {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-wrapper .sidebar-navbar-options button {
  height: 4.5rem;
  width: 4.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  margin-right: -0.2rem;
}
.sidebar-wrapper .sidebar-navbar-options button:hover {
  background-color: #666666;
}
.sidebar-wrapper .sidebar-navbar-options button.highlight {
  background-color: #156a66;
}
.sidebar-wrapper .sidebar-navbar-options button img {
  height: 3.2rem;
  width: 3.2rem;
}
.sidebar-wrapper .sidebar-navbar-options-menu {
  position: relative;
}
.sidebar-wrapper .sidebar-navbar-options-menu button {
  height: 4.5rem;
  width: 4.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  margin-right: 0;
}
.sidebar-wrapper .sidebar-navbar-options-menu button:hover {
  background-color: #666666;
}
.sidebar-wrapper .sidebar-navbar-options-menu button.highlight {
  background-color: #156a66;
}
.sidebar-wrapper .sidebar-navbar-options-menu button img {
  height: 2.5rem;
  width: 2.5rem;
}
.sidebar-wrapper .sidebar-navbar-options-menu ul {
  height: auto;
  width: 22rem;
  opacity: 0;
  visibility: hidden;
  top: 4.6rem;
  right: 0.3rem;
  text-align: center;
  position: absolute;
  border: none;
  border-radius: 1rem;
  font-size: 1.8rem;
  color: #cccccc;
  background-color: #4d4d4d;
  transition: opacity 0.25s ease-out 0s, visibility 0s ease 0.25s;
}
.sidebar-wrapper .sidebar-navbar-options-menu ul::after {
  content: "";
  position: absolute;
  top: -26%;
  left: 83%;
  border-width: 1.5rem;
  border-style: solid;
  border-color: transparent transparent #4d4d4d transparent;
}
.sidebar-wrapper .sidebar-navbar-options-menu ul.show {
  transition: opacity 0.25s ease-out;
  opacity: 1;
  visibility: visible;
}
.sidebar-wrapper .sidebar-navbar-options-menu ul li {
  margin: 1rem 0;
  cursor: pointer;
}
.sidebar-wrapper .sidebar-navbar-options-logout {
  position: relative;
}
.sidebar-wrapper .sidebar-navbar-options-logout button {
  height: 4.5rem;
  width: 4.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  margin-right: 2rem;
}
.sidebar-wrapper .sidebar-navbar-options-logout button:hover {
  background-color: #666666;
}
.sidebar-wrapper .sidebar-navbar-options-logout button.highlight {
  background-color: #156a66;
}
.sidebar-wrapper .sidebar-navbar-options-logout button img {
  height: 2.5rem;
  width: 2.5rem;
}
.sidebar-wrapper .sidebar-navbar-options-logout .logout-choices {
  height: 8rem;
  width: 20rem;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  position: absolute;
  right: 35%;
  border: none;
  border-radius: 1rem;
  font-size: 1.8rem;
  background-color: #4d4d4d;
  transition: opacity 0.25s ease-out 0s, visibility 0s ease 0.25s;
}
.sidebar-wrapper .sidebar-navbar-options-logout .logout-choices.show {
  transition: opacity 0.25s ease-out;
  opacity: 1;
  visibility: visible;
}
.sidebar-wrapper .sidebar-navbar-options-logout .logout-choices::after {
  content: "";
  position: absolute;
  top: -30%;
  left: 83%;
  border-width: 1.5rem;
  border-style: solid;
  border-color: transparent transparent #4d4d4d transparent;
}
.sidebar-wrapper .sidebar-navbar-options-logout .logout-choices div:nth-child(1) {
  margin-top: 1.5rem;
  color: #00c7bd;
}
.sidebar-wrapper .sidebar-navbar-options-logout .logout-choices div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.sidebar-wrapper .sidebar-navbar-options-logout .logout-choices div:nth-child(2) button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #999999;
  transition: 0.3s color;
  font-size: 1.6rem;
  text-align: center;
  margin: 0;
}
.sidebar-wrapper .sidebar-navbar-options-logout .logout-choices div:nth-child(2) button:hover {
  color: #00c7bd;
}
.sidebar-wrapper .sidebar-search {
  height: 8%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #333333;
}
.sidebar-wrapper .sidebar-search-icon {
  height: 73%;
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 0.5rem;
  font-size: 1.4rem;
}
.sidebar-wrapper .sidebar-search-icon button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.sidebar-wrapper .sidebar-search-icon button img {
  height: 2.25rem;
  width: 2.75rem;
}
.sidebar-wrapper .sidebar-search-input {
  height: 70%;
  width: 85%;
  background-color: #3c3e44;
  border: none;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  padding-left: 0.5rem;
}
.sidebar-wrapper .sidebar-search-input:focus::placeholder {
  transition: opacity 0.3s;
  opacity: 0;
}
.sidebar-wrapper .sidebar-search-input:focus-visible {
  outline: none;
  outline-offset: none;
}
.sidebar-wrapper .sidebar-search-list-wrapper {
  max-height: 82.4%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 1.4rem;
}
.sidebar-wrapper .sidebar-search-list-wrapper::-webkit-scrollbar {
  width: 0.7rem;
}
.sidebar-wrapper .sidebar-search-list-wrapper::-webkit-scrollbar-track {
  background: #1f2023;
}
.sidebar-wrapper .sidebar-search-list-wrapper::-webkit-scrollbar-thumb {
  background: #3c3e44;
  border-radius: 0.5rem;
}
.sidebar-wrapper .sidebar-search-list-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.sidebar-wrapper .sidebar-search-list-wrapper .search-list-categories {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 1rem 0;
  font-size: 1.6rem;
  color: #00c7bd;
  position: relative;
}
.sidebar-wrapper .sidebar-search-list-wrapper .search-list-categories::after {
  content: "";
  position: absolute;
  bottom: -50%;
  width: 80%;
  border-top: 1px solid #b3b3b3;
}
.sidebar-wrapper .sidebar-search-list-wrapper .channel-name-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32rem;
  font-size: 1.6rem;
  padding: 0.5rem 0 0.5rem 0;
  padding-left: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  border: 0.2rem solid #156a66;
  background-color: transparent;
  border-radius: 0.6rem;
  color: white;
  width: 70%;
  margin: 2rem auto 0 auto;
}
.sidebar-wrapper .sidebar-search-list-wrapper .channel-name-input:focus-visible {
  outline: none;
}
.sidebar-wrapper .sidebar-search-list-wrapper .dummy {
  height: 5rem;
}
.sidebar-wrapper .sidebar-search-list-wrapper .added-members-list {
  height: 7rem;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  color: #cccccc;
  border-radius: 1rem;
  margin: 0.1rem 0 0.1rem 9rem;
}
.sidebar-wrapper .sidebar-search-list-wrapper .added-members-list button {
  height: 2.5rem;
  width: 2.5rem;
  padding: none;
  text-align: center;
  cursor: pointer;
  color: #cccccc;
  border: none;
  border-radius: 100%;
  background-color: transparent;
}
.sidebar-wrapper .sidebar-search-list-wrapper .added-members-list button:hover {
  color: #4d4d4d;
  background-color: #cccccc;
}
.sidebar-wrapper .sidebar-search-list-wrapper .sidebar-search-list {
  height: 7rem;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cccccc;
  border-radius: 1rem;
  margin: 0.1rem 0 0.1rem 0.5rem;
  cursor: pointer;
}
.sidebar-wrapper .sidebar-search-list-wrapper .sidebar-search-list.highlight {
  border: none;
  border-radius: 1rem;
  background-color: #156a66;
  transition: 0.3s all;
}
.sidebar-wrapper .sidebar-search-list-wrapper .sidebar-search-list.highlight:hover {
  background-color: #156a66;
}
.sidebar-wrapper .sidebar-search-list-wrapper .sidebar-search-list:hover {
  background-color: #3c3e44;
}
.sidebar-wrapper .sidebar-search-list-wrapper .create-channel-trigger {
  height: 0rem;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #3c3e44;
  border: none;
  border-radius: 4rem;
  transition: 0.3s all;
  color: #00c7bd;
  font-size: 1.8rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease-out 0s, visibility 0s ease 0.25s;
  transition: height 0.3s ease-out;
}
.sidebar-wrapper .sidebar-search-list-wrapper .create-channel-trigger:hover {
  background-color: #344c4a;
}
.sidebar-wrapper .sidebar-search-list-wrapper .create-channel-trigger.show {
  transition: opacity 0.25s ease-out;
  opacity: 1;
  visibility: visible;
}
.sidebar-wrapper .sidebar-search-list-wrapper .create-channel-trigger.height {
  height: 3rem;
  width: 45%;
  margin: 1rem auto 2rem auto;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper {
  height: 82.4%;
  width: 101%;
  overflow-y: scroll;
  font-size: 1.4rem;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper::-webkit-scrollbar {
  width: 5px;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-channels {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 0.5rem;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-channels-trigger {
  height: 3rem;
  width: 20rem;
  cursor: pointer;
  background-color: #3c3e44;
  border: none;
  border-radius: 4rem;
  transition: 0.3s all;
  color: #00c7bd;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-channels-trigger:hover {
  background-color: #344c4a;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-channels-list {
  display: none;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-channels-list.show {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-channels-list div {
  height: 7rem;
  cursor: pointer;
  color: #cccccc;
  border-radius: 1rem;
  margin: 0.1rem 0;
  position: relative;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-channels-list div button {
  width: 5rem;
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  font-size: 3rem;
  color: #cccccc;
  cursor: pointer;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-channels-list div button:hover::after {
  content: "Add member to this channel";
  width: 13rem;
  font-size: 1rem;
  position: absolute;
  right: 0.25rem;
  top: -1rem;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-channels-list div.highlight {
  border: none;
  background-color: #156a66;
  transition: 0.3s all;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-channels-list div.highlight:hover {
  background-color: #156a66;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-channels-list div:hover {
  border-radius: 1rem;
  background-color: #3c3e44;
  transition: 0.3s all;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-direct-messages {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 0.5rem;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-direct-messages-trigger {
  height: 3rem;
  width: 20rem;
  cursor: pointer;
  background-color: #3c3e44;
  border: none;
  border-radius: 4rem;
  transition: 0.3s all;
  color: #00c7bd;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-direct-messages-trigger:hover {
  background-color: #344c4a;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-direct-messages-list {
  display: none;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-direct-messages-list.show {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-direct-messages-list div {
  height: 7rem;
  cursor: pointer;
  color: #cccccc;
  border-radius: 1rem;
  margin: 0.1rem 0;
  position: relative;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-direct-messages-list div button {
  width: 5rem;
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  font-size: 3rem;
  color: #cccccc;
  cursor: pointer;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-direct-messages-list div button:hover::after {
  content: "Add member to this channel";
  width: 13rem;
  font-size: 1rem;
  position: absolute;
  right: 0.25rem;
  top: -1rem;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-direct-messages-list div.highlight {
  border: none;
  background-color: #156a66;
  transition: 0.3s all;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-direct-messages-list div.highlight:hover {
  background-color: #156a66;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-direct-messages-list div:hover {
  border-radius: 1rem;
  background-color: #3c3e44;
  transition: 0.3s all;
}
