.sign-up-modal-wrapper {
  position: fixed;
  top: 12.5%;
  left: 50%;
  transform: translateX(-50%);
  height: 75vh;
  width: 50vw;
  border-radius: 1rem;
  background-color: #344c4a;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-up-modal-wrapper.hide {
  display: none;
}
.sign-up-modal-wrapper .sign-up-title {
  color: #00c7bd;
  font-size: 3rem;
  margin-bottom: 3.2rem;
}
.sign-up-modal-wrapper .sign-up-info {
  text-align: center;
  color: #00c7bd;
  font-size: 2.48rem;
  margin-bottom: 3.2rem;
}
.sign-up-modal-wrapper .email-label {
  font-size: 1.8rem;
  padding-left: 1rem;
  color: #00c7bd;
}
.sign-up-modal-wrapper .email-input {
  width: 32rem;
  font-size: 1.6rem;
  padding: 0.5rem 0 0.5rem 0;
  padding-left: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  border: 0.2rem solid #156a66;
  background-color: transparent;
  border-radius: 0.6rem;
  color: white;
}
.sign-up-modal-wrapper .password-label {
  font-size: 1.8rem;
  padding-left: 1rem;
  color: #00c7bd;
}
.sign-up-modal-wrapper .password-input {
  width: 32rem;
  font-size: 1.6rem;
  padding: 0.5rem 0 0.5rem 0;
  padding-left: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  border: 0.2rem solid #156a66;
  background-color: transparent;
  border-radius: 0.6rem;
  color: white;
}
.sign-up-modal-wrapper .confirm-password-label {
  font-size: 1.8rem;
  padding-left: 1rem;
  color: #00c7bd;
}
.sign-up-modal-wrapper .confirm-password-input {
  width: 32rem;
  font-size: 1.6rem;
  padding: 0.5rem 0 0.5rem 0;
  padding-left: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  border: 0.2rem solid #156a66;
  background-color: transparent;
  border-radius: 0.6rem;
  color: white;
}
.sign-up-modal-wrapper .button-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sign-up-modal-wrapper .button-wrapper .sign-up-button {
  font-family: "Archivo";
  font-size: 1.6rem;
  height: 3rem;
  width: 8rem;
  color: #00c7bd;
  background-color: #156a66;
  border: 0.2rem solid #156a66;
  border-radius: 0.6rem;
  transition: all 0.4s;
  margin-bottom: 1rem;
  cursor: pointer;
}
.sign-up-modal-wrapper .button-wrapper .sign-up-button:hover {
  transform: scale(1.1);
}
.sign-up-modal-wrapper .close-button {
  align-self: flex-end;
  background: transparent;
  border: none;
  font-size: 2.12rem;
  cursor: pointer;
}
