@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Archivo";
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
}

.main-screen {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 30vw 70vw;
  grid-template-rows: 1fr;
}

body {
  background-color: #1f2023;
}

.login-modal-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: #1f2023;
  z-index: 5;
}
.login-modal-wrapper .login-modal {
  position: fixed;
  top: 17.5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-modal-wrapper .login-modal .loqui {
  font-size: 4rem;
  color: #00c7bd;
  margin-bottom: 2.5rem;
}
.login-modal-wrapper .login-modal .email-label {
  font-size: 1.8rem;
  padding-left: 1rem;
  color: #00c7bd;
}
.login-modal-wrapper .login-modal .email-input {
  width: 32rem;
  font-size: 1.6rem;
  padding: 0.5rem 0 0.5rem 0;
  padding-left: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  border: 0.2rem solid #156a66;
  background-color: transparent;
  border-radius: 0.6rem;
  color: white;
}
.login-modal-wrapper .login-modal .password-label {
  font-size: 1.8rem;
  padding-left: 1rem;
  color: #00c7bd;
}
.login-modal-wrapper .login-modal .password-input {
  width: 32rem;
  font-size: 1.6rem;
  padding: 0.5rem 0 0.5rem 0;
  padding-left: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  border: 0.2rem solid #156a66;
  background-color: transparent;
  border-radius: 0.6rem;
  color: white;
}
.login-modal-wrapper .login-modal .button-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-modal-wrapper .login-modal .button-wrapper .login-button {
  height: 3rem;
  width: 8rem;
  font-family: "Archivo";
  font-size: 1.4rem;
  color: #00c7bd;
  background-color: #344c4a;
  border: 0.2rem solid #344c4a;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 1rem;
}
.login-modal-wrapper .login-modal .button-wrapper .login-button:hover {
  transform: scale(1.1);
}
.login-modal-wrapper .login-modal .button-wrapper .create-account-button {
  height: 3rem;
  width: 18rem;
  font-family: "Archivo";
  font-size: 1.4rem;
  color: #00c7bd;
  background-color: #344c4a;
  border: 0.2rem solid #344c4a;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 0.4s;
}
.login-modal-wrapper .login-modal .button-wrapper .create-account-button:hover {
  transform: scale(1.1);
}
.login-modal-wrapper .login-modal .my-logo {
  height: 12rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 2.5rem;
}
.login-modal-wrapper .login-modal #my-logo {
  height: 8rem;
  width: 8rem;
}
.login-modal-wrapper .login-modal .my-logo::before,
.login-modal-wrapper .login-modal .my-logo::after {
  content: "";
  height: 12rem;
  width: 12rem;
  position: absolute;
  background-color: #156a66;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.7;
}
.login-modal-wrapper .login-modal .my-logo::before {
  animation: pulse 2s ease-out infinite;
}
.login-modal-wrapper .login-modal .my-logo::after {
  animation: pulse 2s 1s ease-out infinite;
}
@keyframes pulse {
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.sign-up-modal-wrapper {
  position: fixed;
  top: 12.5%;
  left: 50%;
  transform: translateX(-50%);
  height: 75vh;
  width: 50vw;
  border-radius: 1rem;
  background-color: #344c4a;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-up-modal-wrapper.hide {
  display: none;
}
.sign-up-modal-wrapper .sign-up-title {
  color: #00c7bd;
  font-size: 3rem;
  margin-bottom: 3.2rem;
}
.sign-up-modal-wrapper .sign-up-info {
  text-align: center;
  color: #00c7bd;
  font-size: 2.48rem;
  margin-bottom: 3.2rem;
}
.sign-up-modal-wrapper .email-label {
  font-size: 1.8rem;
  padding-left: 1rem;
  color: #00c7bd;
}
.sign-up-modal-wrapper .email-input {
  width: 32rem;
  font-size: 1.6rem;
  padding: 0.5rem 0 0.5rem 0;
  padding-left: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  border: 0.2rem solid #156a66;
  background-color: transparent;
  border-radius: 0.6rem;
  color: white;
}
.sign-up-modal-wrapper .password-label {
  font-size: 1.8rem;
  padding-left: 1rem;
  color: #00c7bd;
}
.sign-up-modal-wrapper .password-input {
  width: 32rem;
  font-size: 1.6rem;
  padding: 0.5rem 0 0.5rem 0;
  padding-left: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  border: 0.2rem solid #156a66;
  background-color: transparent;
  border-radius: 0.6rem;
  color: white;
}
.sign-up-modal-wrapper .confirm-password-label {
  font-size: 1.8rem;
  padding-left: 1rem;
  color: #00c7bd;
}
.sign-up-modal-wrapper .confirm-password-input {
  width: 32rem;
  font-size: 1.6rem;
  padding: 0.5rem 0 0.5rem 0;
  padding-left: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  border: 0.2rem solid #156a66;
  background-color: transparent;
  border-radius: 0.6rem;
  color: white;
}
.sign-up-modal-wrapper .button-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sign-up-modal-wrapper .button-wrapper .sign-up-button {
  font-family: "Archivo";
  font-size: 1.6rem;
  height: 3rem;
  width: 8rem;
  color: #00c7bd;
  background-color: #156a66;
  border: 0.2rem solid #156a66;
  border-radius: 0.6rem;
  transition: all 0.4s;
  margin-bottom: 1rem;
  cursor: pointer;
}
.sign-up-modal-wrapper .button-wrapper .sign-up-button:hover {
  transform: scale(1.1);
}
.sign-up-modal-wrapper .close-button {
  align-self: flex-end;
  background: transparent;
  border: none;
  font-size: 2.12rem;
  cursor: pointer;
}

.sidebar-wrapper {
  height: 100vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #333333;
}
.sidebar-wrapper .sidebar-navbar {
  height: 9.5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3c3e44;
  color: #156a66;
  z-index: 2;
}
.sidebar-wrapper .sidebar-navbar .user-profile {
  margin-left: 1rem;
}
.sidebar-wrapper .sidebar-navbar-options {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-wrapper .sidebar-navbar-options button {
  height: 4.5rem;
  width: 4.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  margin-right: -0.2rem;
}
.sidebar-wrapper .sidebar-navbar-options button:hover {
  background-color: #666666;
}
.sidebar-wrapper .sidebar-navbar-options button.highlight {
  background-color: #156a66;
}
.sidebar-wrapper .sidebar-navbar-options button img {
  height: 3.2rem;
  width: 3.2rem;
}
.sidebar-wrapper .sidebar-navbar-options-menu {
  position: relative;
}
.sidebar-wrapper .sidebar-navbar-options-menu button {
  height: 4.5rem;
  width: 4.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  margin-right: 0;
}
.sidebar-wrapper .sidebar-navbar-options-menu button:hover {
  background-color: #666666;
}
.sidebar-wrapper .sidebar-navbar-options-menu button.highlight {
  background-color: #156a66;
}
.sidebar-wrapper .sidebar-navbar-options-menu button img {
  height: 2.5rem;
  width: 2.5rem;
}
.sidebar-wrapper .sidebar-navbar-options-menu ul {
  height: auto;
  width: 22rem;
  opacity: 0;
  visibility: hidden;
  top: 4.6rem;
  right: 0.3rem;
  text-align: center;
  position: absolute;
  border: none;
  border-radius: 1rem;
  font-size: 1.8rem;
  color: #cccccc;
  background-color: #4d4d4d;
  transition: opacity 0.25s ease-out 0s, visibility 0s ease 0.25s;
}
.sidebar-wrapper .sidebar-navbar-options-menu ul::after {
  content: "";
  position: absolute;
  top: -26%;
  left: 83%;
  border-width: 1.5rem;
  border-style: solid;
  border-color: transparent transparent #4d4d4d transparent;
}
.sidebar-wrapper .sidebar-navbar-options-menu ul.show {
  transition: opacity 0.25s ease-out;
  opacity: 1;
  visibility: visible;
}
.sidebar-wrapper .sidebar-navbar-options-menu ul li {
  margin: 1rem 0;
  cursor: pointer;
}
.sidebar-wrapper .sidebar-navbar-options-logout {
  position: relative;
}
.sidebar-wrapper .sidebar-navbar-options-logout button {
  height: 4.5rem;
  width: 4.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  margin-right: 2rem;
}
.sidebar-wrapper .sidebar-navbar-options-logout button:hover {
  background-color: #666666;
}
.sidebar-wrapper .sidebar-navbar-options-logout button.highlight {
  background-color: #156a66;
}
.sidebar-wrapper .sidebar-navbar-options-logout button img {
  height: 2.5rem;
  width: 2.5rem;
}
.sidebar-wrapper .sidebar-navbar-options-logout .logout-choices {
  height: 8rem;
  width: 20rem;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  position: absolute;
  right: 35%;
  border: none;
  border-radius: 1rem;
  font-size: 1.8rem;
  background-color: #4d4d4d;
  transition: opacity 0.25s ease-out 0s, visibility 0s ease 0.25s;
}
.sidebar-wrapper .sidebar-navbar-options-logout .logout-choices.show {
  transition: opacity 0.25s ease-out;
  opacity: 1;
  visibility: visible;
}
.sidebar-wrapper .sidebar-navbar-options-logout .logout-choices::after {
  content: "";
  position: absolute;
  top: -30%;
  left: 83%;
  border-width: 1.5rem;
  border-style: solid;
  border-color: transparent transparent #4d4d4d transparent;
}
.sidebar-wrapper .sidebar-navbar-options-logout .logout-choices div:nth-child(1) {
  margin-top: 1.5rem;
  color: #00c7bd;
}
.sidebar-wrapper .sidebar-navbar-options-logout .logout-choices div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.sidebar-wrapper .sidebar-navbar-options-logout .logout-choices div:nth-child(2) button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #999999;
  transition: 0.3s color;
  font-size: 1.6rem;
  text-align: center;
  margin: 0;
}
.sidebar-wrapper .sidebar-navbar-options-logout .logout-choices div:nth-child(2) button:hover {
  color: #00c7bd;
}
.sidebar-wrapper .sidebar-search {
  height: 8%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #333333;
}
.sidebar-wrapper .sidebar-search-icon {
  height: 73%;
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 0.5rem;
  font-size: 1.4rem;
}
.sidebar-wrapper .sidebar-search-icon button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.sidebar-wrapper .sidebar-search-icon button img {
  height: 2.25rem;
  width: 2.75rem;
}
.sidebar-wrapper .sidebar-search-input {
  height: 70%;
  width: 85%;
  background-color: #3c3e44;
  border: none;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  padding-left: 0.5rem;
}
.sidebar-wrapper .sidebar-search-input:focus::placeholder {
  transition: opacity 0.3s;
  opacity: 0;
}
.sidebar-wrapper .sidebar-search-input:focus-visible {
  outline: none;
  outline-offset: none;
}
.sidebar-wrapper .sidebar-search-list-wrapper {
  max-height: 82.4%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 1.4rem;
}
.sidebar-wrapper .sidebar-search-list-wrapper::-webkit-scrollbar {
  width: 0.7rem;
}
.sidebar-wrapper .sidebar-search-list-wrapper::-webkit-scrollbar-track {
  background: #1f2023;
}
.sidebar-wrapper .sidebar-search-list-wrapper::-webkit-scrollbar-thumb {
  background: #3c3e44;
  border-radius: 0.5rem;
}
.sidebar-wrapper .sidebar-search-list-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.sidebar-wrapper .sidebar-search-list-wrapper .search-list-categories {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 1rem 0;
  font-size: 1.6rem;
  color: #00c7bd;
  position: relative;
}
.sidebar-wrapper .sidebar-search-list-wrapper .search-list-categories::after {
  content: "";
  position: absolute;
  bottom: -50%;
  width: 80%;
  border-top: 1px solid #b3b3b3;
}
.sidebar-wrapper .sidebar-search-list-wrapper .channel-name-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32rem;
  font-size: 1.6rem;
  padding: 0.5rem 0 0.5rem 0;
  padding-left: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  border: 0.2rem solid #156a66;
  background-color: transparent;
  border-radius: 0.6rem;
  color: white;
  width: 70%;
  margin: 2rem auto 0 auto;
}
.sidebar-wrapper .sidebar-search-list-wrapper .channel-name-input:focus-visible {
  outline: none;
}
.sidebar-wrapper .sidebar-search-list-wrapper .dummy {
  height: 5rem;
}
.sidebar-wrapper .sidebar-search-list-wrapper .added-members-list {
  height: 7rem;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  color: #cccccc;
  border-radius: 1rem;
  margin: 0.1rem 0 0.1rem 9rem;
}
.sidebar-wrapper .sidebar-search-list-wrapper .added-members-list button {
  height: 2.5rem;
  width: 2.5rem;
  padding: none;
  text-align: center;
  cursor: pointer;
  color: #cccccc;
  border: none;
  border-radius: 100%;
  background-color: transparent;
}
.sidebar-wrapper .sidebar-search-list-wrapper .added-members-list button:hover {
  color: #4d4d4d;
  background-color: #cccccc;
}
.sidebar-wrapper .sidebar-search-list-wrapper .sidebar-search-list {
  height: 7rem;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cccccc;
  border-radius: 1rem;
  margin: 0.1rem 0 0.1rem 0.5rem;
  cursor: pointer;
}
.sidebar-wrapper .sidebar-search-list-wrapper .sidebar-search-list.highlight {
  border: none;
  border-radius: 1rem;
  background-color: #156a66;
  transition: 0.3s all;
}
.sidebar-wrapper .sidebar-search-list-wrapper .sidebar-search-list.highlight:hover {
  background-color: #156a66;
}
.sidebar-wrapper .sidebar-search-list-wrapper .sidebar-search-list:hover {
  background-color: #3c3e44;
}
.sidebar-wrapper .sidebar-search-list-wrapper .create-channel-trigger {
  height: 0rem;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #3c3e44;
  border: none;
  border-radius: 4rem;
  transition: 0.3s all;
  color: #00c7bd;
  font-size: 1.8rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease-out 0s, visibility 0s ease 0.25s;
  transition: height 0.3s ease-out;
}
.sidebar-wrapper .sidebar-search-list-wrapper .create-channel-trigger:hover {
  background-color: #344c4a;
}
.sidebar-wrapper .sidebar-search-list-wrapper .create-channel-trigger.show {
  transition: opacity 0.25s ease-out;
  opacity: 1;
  visibility: visible;
}
.sidebar-wrapper .sidebar-search-list-wrapper .create-channel-trigger.height {
  height: 3rem;
  width: 45%;
  margin: 1rem auto 2rem auto;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper {
  height: 82.4%;
  width: 101%;
  overflow-y: scroll;
  font-size: 1.4rem;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper::-webkit-scrollbar {
  width: 5px;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-channels {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 0.5rem;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-channels-trigger {
  height: 3rem;
  width: 20rem;
  cursor: pointer;
  background-color: #3c3e44;
  border: none;
  border-radius: 4rem;
  transition: 0.3s all;
  color: #00c7bd;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-channels-trigger:hover {
  background-color: #344c4a;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-channels-list {
  display: none;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-channels-list.show {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-channels-list div {
  height: 7rem;
  cursor: pointer;
  color: #cccccc;
  border-radius: 1rem;
  margin: 0.1rem 0;
  position: relative;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-channels-list div button {
  width: 5rem;
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  font-size: 3rem;
  color: #cccccc;
  cursor: pointer;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-channels-list div button:hover::after {
  content: "Add member to this channel";
  width: 13rem;
  font-size: 1rem;
  position: absolute;
  right: 0.25rem;
  top: -1rem;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-channels-list div.highlight {
  border: none;
  background-color: #156a66;
  transition: 0.3s all;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-channels-list div.highlight:hover {
  background-color: #156a66;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-channels-list div:hover {
  border-radius: 1rem;
  background-color: #3c3e44;
  transition: 0.3s all;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-direct-messages {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 0.5rem;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-direct-messages-trigger {
  height: 3rem;
  width: 20rem;
  cursor: pointer;
  background-color: #3c3e44;
  border: none;
  border-radius: 4rem;
  transition: 0.3s all;
  color: #00c7bd;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-direct-messages-trigger:hover {
  background-color: #344c4a;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-direct-messages-list {
  display: none;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-direct-messages-list.show {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-direct-messages-list div {
  height: 7rem;
  cursor: pointer;
  color: #cccccc;
  border-radius: 1rem;
  margin: 0.1rem 0;
  position: relative;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-direct-messages-list div button {
  width: 5rem;
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  font-size: 3rem;
  color: #cccccc;
  cursor: pointer;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-direct-messages-list div button:hover::after {
  content: "Add member to this channel";
  width: 13rem;
  font-size: 1rem;
  position: absolute;
  right: 0.25rem;
  top: -1rem;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-direct-messages-list div.highlight {
  border: none;
  background-color: #156a66;
  transition: 0.3s all;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-direct-messages-list div.highlight:hover {
  background-color: #156a66;
}
.sidebar-wrapper .sidebar-channel-dmessage-wrapper .sidebar-direct-messages-list div:hover {
  border-radius: 1rem;
  background-color: #3c3e44;
  transition: 0.3s all;
}

.main-display {
  height: 100vh;
  width: 69.9vw;
  display: flex;
  flex-direction: column;
  background-color: #2a2b2f;
  position: relative;
  border-left: 1px solid #333333;
}
.main-display #hand-logo {
  height: 25rem;
  width: 25rem;
  margin: 10vh auto 0 auto;
  border-radius: 50%;
}
.main-display .info-wrapper {
  margin: 2.5vh auto 10vh auto;
}
.main-display .info-wrapper::after {
  content: "";
  height: 0.2rem;
  width: 50%;
  position: absolute;
  margin-top: 2.5vh;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid #3c3e44;
}
.main-display .info-wrapper div:nth-child(1) {
  font-size: 3rem;
  text-align: center;
  margin: 2.5vh auto 2.5vh auto;
  color: #cccccc;
}
.main-display .info-wrapper div:nth-child(2) {
  font-size: 1.6rem;
  text-align: center;
  margin: 2.5vh 12.5% 2.5vh 12.5%;
  color: gray;
  line-height: 2rem;
}
.main-display p {
  font-size: 1.4rem;
  text-align: center;
  margin: 2.5vh auto 2.5vh auto;
  color: gray;
  margin-top: -1rem;
}
.main-display p a {
  cursor: pointer;
  color: #00c7bd;
  text-decoration: none;
}
.main-display .vignette {
  height: 0.5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #156a66;
}
.main-display .convo-screen {
  height: 100%;
  background-color: #2a2b2f;
}
.main-display .convo-screen .mainbar-navbar {
  height: 9.5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3c3e44;
}
.main-display .convo-screen .mainbar-navbar div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main-display .convo-screen .mainbar-navbar div button {
  height: 4.5rem;
  width: 4.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  margin-right: 0;
}
.main-display .convo-screen .mainbar-navbar div button:hover {
  background-color: #666666;
}
.main-display .convo-screen .mainbar-navbar div button.highlight {
  background-color: #156a66;
}
.main-display .convo-screen .mainbar-navbar div button img {
  height: 2.5rem;
  width: 2.5rem;
}
.main-display .convo-screen .mainbar-navbar div ul {
  height: auto;
  width: 22rem;
  opacity: 0;
  visibility: hidden;
  top: 4.6rem;
  right: 0.3rem;
  text-align: center;
  position: absolute;
  border: none;
  border-radius: 1rem;
  font-size: 1.8rem;
  color: #cccccc;
  background-color: #4d4d4d;
  transition: opacity 0.25s ease-out 0s, visibility 0s ease 0.25s;
}
.main-display .convo-screen .mainbar-navbar div ul::after {
  content: "";
  position: absolute;
  top: -26%;
  left: 83%;
  border-width: 1.5rem;
  border-style: solid;
  border-color: transparent transparent #4d4d4d transparent;
}
.main-display .convo-screen .mainbar-navbar div ul.show {
  transition: opacity 0.25s ease-out;
  opacity: 1;
  visibility: visible;
}
.main-display .convo-screen .mainbar-navbar div ul li {
  margin: 1rem 0;
  cursor: pointer;
}
.main-display .convo-screen .conversation-display-wrapper {
  height: 80.5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.main-display .convo-screen .conversation-display-wrapper::-webkit-scrollbar {
  width: 0.7rem;
}
.main-display .convo-screen .conversation-display-wrapper::-webkit-scrollbar-track {
  background: #1f2023;
}
.main-display .convo-screen .conversation-display-wrapper::-webkit-scrollbar-thumb {
  background: #3c3e44;
  border-radius: 0.5rem;
}
.main-display .convo-screen .conversation-display-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.main-display .convo-screen .conversation-display-wrapper .conversation-display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-display .convo-screen .conversation-display-wrapper .conversation-display:first-child {
  margin-top: auto !important;
}
.main-display .convo-screen .conversation-display-wrapper .conversation-display .message-bubble {
  display: flex;
  align-items: center;
  min-height: 1.5rem;
  min-width: 9.5rem;
  max-width: 49rem;
  background-color: #54575f;
  align-self: flex-start;
  margin: 0.25rem 2.5rem;
  font-size: 1.5rem;
  line-height: 1.25;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: #e6e6e6;
}
.main-display .convo-screen .conversation-display-wrapper .conversation-display .message-bubble.me {
  align-self: flex-end;
  background-color: #156a66;
}
.main-display .convo-screen .message-form-wrapper {
  height: 10%;
  width: 100%;
  position: relative;
}
.main-display .convo-screen .message-form-wrapper .emojis {
  position: absolute;
  top: -32.5rem;
  left: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease-out 0s, visibility 0s ease 0.25s;
}
.main-display .convo-screen .message-form-wrapper .emojis.show {
  transition: opacity 0.25s ease-out;
  opacity: 1;
  visibility: visible;
}
.main-display .convo-screen .message-form-wrapper .emoji-trigger {
  position: absolute;
  top: 1.5rem;
  left: 0.75rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.main-display .convo-screen .message-form-wrapper .emoji-trigger img {
  height: 3rem;
  width: 3rem;
}
.main-display .convo-screen .message-form-wrapper .form {
  height: 100%;
  width: 105%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3c3e44;
}
.main-display .convo-screen .message-form-wrapper .form .message-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-display .convo-screen .message-form-wrapper .form .message-input .message-submit {
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.main-display .convo-screen .message-form-wrapper .form .message-input .message-submit img {
  height: 3rem;
  width: 4rem;
}
.main-display .convo-screen .message-form-wrapper .form .message-input input {
  height: 3.75rem;
  width: 78rem;
  padding-left: 2rem;
  border: none;
  border-radius: 1rem;
  background-color: #54575f;
  color: #cccccc;
  font-size: 1.5rem;
  margin: 0 0 0 0.5rem;
}
.main-display .convo-screen .message-form-wrapper .form .message-input input::placeholder {
  padding-left: 0.5rem;
  color: #cccccc;
}
.main-display .convo-screen .message-form-wrapper .form .message-input input:focus::placeholder {
  transition: opacity 0.3s;
  opacity: 0;
}
.main-display .convo-screen .message-form-wrapper .form .message-input input:focus-visible {
  outline: none;
  outline-offset: none;
}

.error-alert {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: rgba(26, 26, 26, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease-out 0s, visibility 0s ease 0.25s;
}
.error-alert.show {
  transition: opacity 0.25s ease-out;
  opacity: 1;
  visibility: visible;
}
.error-alert div {
  height: 10rem;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  border-radius: 1rem;
  font-size: 1.8rem;
  background-color: #4d4d4d;
}
.error-alert div p {
  margin: 0.5rem 2rem 1rem 2rem;
  color: #cccccc;
}
.error-alert div button {
  height: 3rem;
  width: 7rem;
  cursor: pointer;
  background-color: #3c3e44;
  border: none;
  border-radius: 4rem;
  transition: 0.3s all;
  color: #00c7bd;
  font-size: 1.8rem;
}
.error-alert div button:hover {
  background-color: #344c4a;
}

.loading-screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loading-screen .my-logo {
  height: 16rem;
  width: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 2.5rem;
}
.loading-screen #my-logo {
  height: 12rem;
  width: 12rem;
}
.loading-screen .my-logo::before,
.loading-screen .my-logo::after {
  content: "";
  height: 16rem;
  width: 16rem;
  position: absolute;
  background-color: #156a66;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.7;
}
.loading-screen .my-logo::before {
  animation: pulse 2s ease-out infinite;
}
.loading-screen .my-logo::after {
  animation: pulse 2s 1s ease-out infinite;
}
@keyframes pulse {
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
.loading-screen div {
  margin-top: 2rem;
  font-size: 5rem;
  color: #3c3e44;
}
