.loading-screen {
  @include perimeter(100vh, 100vw);
  @include basicFlex;
  flex-direction: column;
  @include loading-logo(12rem, 16rem);

  div {
    margin-top: 2rem;
    font-size: 5rem;
    color: hsl(0, 0%, 80%);
  }
}
