@import '../base/variables.scss';
@import '../base/mixins.scss';

body {
  background: linear-gradient(-45deg,
    hsl(225, 6%, 10%), 
    hsl(225, 6%, 20%), 
    hsl(177, 67%, 15%), 
    hsl(177, 67%, 25%)
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.login-modal-wrapper {
  @include perimeter(100vh, 100vw);
  position: fixed;
  z-index: 5;

  .login-modal {
    @include modal(17.5%);
    display: flex;
    flex-direction: column;
    align-items: center;


    .loqui {
      font-size: 4rem;
      color: $color;
      margin-bottom: 2.5rem;
    }

    .email-label {
      @include label;
    }

    .email-input {
      @include input;
    }

    .password-label {
      @include label;
    }

    .password-input {
      @include input;
    }

    .button-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;

      .login-button {
        @include button(8rem);
        transition: all 0.4s;
        margin-bottom: 1rem;
    
        &:hover {
          transform: scale(1.1);
        }
      }

      .create-account-button {
        @include button(18rem);
        transition: all 0.4s;
    
        &:hover {
          transform: scale(1.1);
        }
      }
    }

    @include loading-logo(8rem, 12rem);
  }
}