@import '../base/variables.scss';
@import '../base/mixins.scss';

body {
  background-color: $bg-color;
}

.login-modal-wrapper {
  @include perimeter(100vh, 100vw);
  position: fixed;
  background-color: $bg-color;
  z-index: 5;

  .login-modal {
    @include modal(17.5%);
    display: flex;
    flex-direction: column;
    align-items: center;


    .loqui {
      font-size: 4rem;
      color: $color;
      margin-bottom: 2.5rem;
    }

    .email-label {
      @include label;
    }

    .email-input {
      @include input;
    }

    .password-label {
      @include label;
    }

    .password-input {
      @include input;
    }

    .button-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;

      .login-button {
        @include button(8rem);
        transition: all 0.4s;
        margin-bottom: 1rem;
    
        &:hover {
          transform: scale(1.1);
        }
      }

      .create-account-button {
        @include button(18rem);
        transition: all 0.4s;
    
        &:hover {
          transform: scale(1.1);
        }
      }
    }

    @include loading-logo(8rem, 12rem);
  }
}