@import '../base/variables.scss';
@import '../base/mixins.scss';

.main-display {
  @include perimeter(100vh, 69.9vw);
  display: flex;
  flex-direction: column;
  background-color: $screen-bg-color;
  position: relative;
  border-left: $border-outline;

  #hand-logo {
    @include perimeter(25rem, 25rem);
    margin: 10vh auto 0 auto;
    border-radius: 50%;
  }

  .info-wrapper {
    margin: 2.5vh auto 10vh auto;

    &::after {
      content: '';
      @include perimeter(0.2rem, 50%);
      position: absolute;
      margin-top: 2.5vh;
      left: 50%;
      transform: translateX(-50%);
      border-bottom: 1px solid $bg-color-lite;
    }

    div:nth-child(1) {
      @include infocard(3rem, auto, hsl(0, 0%, 80%));
    }

    div:nth-child(2) {
      @include infocard(1.6rem, 12.5%, hsl(0, 0%, 50%));
      line-height: 2rem;
    }
  }

  p {
    @include infocard(1.4rem, auto, hsl(0, 0%, 50%));
    margin-top: -1rem;

    a {
      cursor: pointer;
      color: $color;
      text-decoration: none;
    }
  }

  .vignette {
    @include perimeter(0.5rem, 100%);
    position: absolute;
    bottom: 0;
    background-color: $in-color;
  }

  .convo-screen {
    height: 100%;
    background-color: $screen-bg-color;

    .mainbar-navbar {
      @include perimeter(9.5%, 100%);
      @include basicFlex;
      justify-content: space-between;
      background-color: $bg-color-lite;

      div {
        @include basicFlex;
        position: relative;
        font-size: 1.6rem;
        margin: 0 2.5rem 0 0;
        color: hsl(0, 0%, 80%);

        .chat-image {
          @include perimeter(4rem, 4rem);
          border: 1px solid hsl(0, 0%, 80%);
          border-radius: 100%;
          margin: 0 1.5rem;
        }

        button {
          @include navbar-icons(2.5rem, 0);
        }
        
        @include menuUl(0);
      }
    }

    .conversation-display-wrapper {
      @include perimeter(80.5%, 100%);
      @include scrollbar;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;

      .conversation-display {
        @include basicFlex;
        flex-direction: column;

        &:first-child {
          margin-top: auto !important;
        }
  
        .message-bubble {
          display: flex;
          align-items: center;
          position: relative;
          min-height: 1.5rem;
          max-width: 49rem;
          background-color: hsl(225, 6%, 35%);
          align-self: flex-start;
          margin: .25rem 2.5rem;
          font-size: 1.5rem;
          line-height: 1.25;
          padding: 0.5rem 6rem 0.5rem 1rem;
          border-radius: 1rem;
          color: hsl(0, 0%, 90%);

          .message-date {
            position: absolute;
            bottom: -1.5rem;
            right: 0.5rem;
            font-size: 1rem;
            color: hsl(0, 0%, 80%);
            padding: 0;

            @media screen and (max-width: 681px) {
              padding: 0;
            }
          }
  
          &.me{
            align-self: flex-end;
            background-color: hsl(177, 67%, 25%);
          }
        }
      }
    }

    .message-form-wrapper {
      @include perimeter(10%, 100%);
      @include basicFlex;
      justify-content: space-between;
      background-color: $bg-color-lite;
      position: relative;

      .emojis {
        position: absolute;
        top: -32.5rem;
        left: 0.5rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.25s ease-out 0s, visibility 0s ease 0.25s;

        &.show {
          transition: opacity 0.25s ease-out;
          opacity: 1;
          visibility: visible;
        }
      }
      
      .emoji-trigger {
        cursor: pointer;
        margin-left: 1rem;
        background-color: transparent;
        border: none;
        padding: 0;

        img {
          @include perimeter(3rem, 3rem);
        }
      }

      .form {
        @include perimeter(100%, 100%);
        @include basicFlex;
        justify-content: space-between;
  
        .message-submit {
          @include perimeter(3rem, 3rem);
          margin-right: 2rem;
          background-color: transparent;
          border: none;
          cursor: pointer;

          img {
            @include perimeter(3rem, 4rem);
          }
        }

        input {
          @include perimeter(3.75rem, 90%);
          padding-left: 2rem;
          border: none;
          border-radius: 1rem;
          background-color: hsl(225, 6%, 35%);
          color: hsl(0, 0%, 80%);
          font-size: 1.5rem;
          margin-left: 1rem;
          
          &::placeholder {
            padding-left: 0.5rem;
            color: hsl(0, 0%, 80%);
          }

          &:focus::placeholder {
            transition: opacity .3s;
            opacity: 0;
          }
    
          &:focus-visible {
            outline: none;
            outline-offset: none;
          }
        }
      }
    }
  }
}