@import '../base/variables.scss';
@import '../base/mixins.scss';

.sidebar-wrapper {
  @include perimeter(100vh, 30vw);
  display: flex;
  flex-direction: column;
  border-right: $border-outline;

  .sidebar-navbar {
    @include perimeter(9.5%, 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $bg-color-lite;
    color: $in-color;

    .user-profile {
      margin-left: 1rem;
    }

    .sidebar-navbar-options {
      @include basicFlex;

      button {
        @include navbar-icons(3.2rem, -0.2rem);
      }
  
      div {
        button {
          @include navbar-icons(2.5rem, 0);
        }
      }
  
      div:nth-child(3) {
        position: relative;
  
        button {
          @include navbar-icons(2.5rem, 2rem);
        }
  
        .logout-choices {
          @include perimeter(8rem, 20rem);
          opacity: 0;
          visibility: hidden;
          text-align: center;
          position: absolute;
          right: 35%;
          border: none;
          border-radius: 1rem;
          font-size: 1.8rem;
          background-color: hsl(0, 0%, 30%);
          transition: opacity 0.25s ease-out 0s, visibility 0s ease 0.25s;
  
          &.show {
            transition: opacity 0.25s ease-out;
            opacity: 1;
            visibility: visible;
          }
  
          &::after {
            content: "";
            position: absolute;
            top: -30%;
            left: 83%;
            border-width: 1.5rem;
            border-style: solid;
            border-color: transparent transparent hsl(0, 0%, 30%) transparent;
          }
          
          div:nth-child(1) {
            margin-top: 1.5rem;
            color: $color;
          }
          
          div:nth-child(2) {
            @include basicFlex;
            justify-content: space-evenly;
            
            button {
              cursor: pointer;
              background-color: transparent;
              border: none;
              color:hsl(0, 0%, 60%);
              transition: 0.3s color;
              font-size: 1.6rem;
              text-align: center;
              margin: 0;
  
              &:hover {
                color: $color;
              }
            }
          }
        }
      }
    }
  }

  .sidebar-search {
    @include perimeter(8%, 100%);
    @include basicFlex;
    border-bottom: $border-outline;

    &-icon {
      @include perimeter(73%, 5%);
      @include basicFlex;
      cursor: pointer;
      margin-right: 0.5rem;
      font-size: 1.4rem;

      button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        img {
          @include perimeter(2.25rem, 2.75rem);
        }
      }
    }

    &-input {
      @include perimeter(70%, 85%);
      background-color: $bg-color-lite;
      border: none;
      border-top-right-radius: 0.8rem;
      border-bottom-right-radius: 0.8rem;
      padding-left: 0.5rem;

      &:focus::placeholder {
        transition: opacity .3s;
        opacity: 0;
      }

      &:focus-visible {
        outline: none;
        outline-offset: none;
      }
    }

  }
  
  .sidebar-search-list-wrapper {
    max-height: 82.4%;
    overflow-y: scroll;
    @include scrollbar;
    overflow-x: hidden;

    .search-list-categories {
      @include basicFlex;
      text-align: center;
      width: 100%;
      margin: 1rem 0;
      font-size: 1.6rem;
      color: $color;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -50%;
        width: 80%;
        border-top: 1px solid hsl(0, 0%, 70%);
      }
    }

    .sidebar-search-list {
      @include perimeter(7rem, 98%);
      @include basicFlex;
      color: hsl(0, 0%, 80%);
      border-radius: 1rem;
      margin: 0.1rem 0 0.1rem 0.5rem;
      cursor: pointer;

      &.highlight {
        border: none;
        border-radius: 1rem;
        background-color: $in-color;
        transition: 0.3s all;

        &:hover {
          background-color: $in-color;
        }
      }

      &:hover {
        background-color: $bg-color-lite;
      }
    }
  }

  .sidebar-channel-dmessage-wrapper {
    @include perimeter(82.4%, 101%);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px;
    }

    .sidebar-channels {
      @include message-categories;
      @include trigger-and-list(15rem);
    }

    .sidebar-direct-messages {
      @include message-categories;
      @include trigger-and-list(20rem);
    }
  }
}