@import '../base/variables.scss';
@import '../base/mixins.scss';

.sign-up-modal-wrapper {
  @include modal(12.5%);
  @include perimeter(75vh, 50vw);
  border-radius: 1rem;
  background-color: $out-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.hide {
    display: none;
  }

  .sign-up-title {
    color: $color;
    font-size: 3rem;
    margin-bottom: 3.2rem;
  }

  .sign-up-info {
    text-align: center;
    color: $color;
    font-size: 2.48rem;
    margin-bottom: 3.2rem;
  }

  .email-label {
    @include label;
  }

  .email-input {
    @include input;
  }

  .password-label {
    @include label;
  }

  .password-input {
    @include input;
  }

  .confirm-password-label {
    @include label;
  }

  .confirm-password-input {
    @include input;
  }

  .button-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  
    .sign-up-button {
      font-family: $main-font;
      font-size: 1.6rem;
      @include perimeter(3rem, 8rem);
      color: $color;
      background-color: $in-color;
      border: 0.2rem solid $in-color;
      border-radius: 0.6rem;
      transition: all 0.4s;
      margin-bottom: 1rem;
      cursor: pointer;
  
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .close-button {
    align-self: flex-end;
    background: transparent;
    border: none;
    font-size: 2.12rem;
    cursor: pointer;
  }
}
